[Unit]
Description=Runs the myapp update daemon.
After=myapp.service

[Service]
User=myapp
Type=simple
WorkingDirectory=/var/node/myapp/data_import/
ExecStart=/usr/local/bin/node update_data.js
Restart=restart-always
PIDFile=/var/run/myappupdates.pid

[Install]
WantedBy=multi-user.target
