[Unit]
Description=Runs the Myapp admin on port 8001
After=postgresql.service

[Service]
Type=notify
WorkingDirectory=/var/node/myapp/admin/
ExecStart=/usr/bin/uwsgi --ini /var/node/myapp/admin/uwsgi.ini
Restart=restart-always
PIDFile=/var/run/myappadmin.pid
KillSignal=SIGQUIT
NotifyAccess=all

[Install]
WantedBy=multi-user.target
